body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

/* -------------- dark mode setting ---------*/

body.dark-mode {
    background-color: #121212; /* Dark background */
    color: #ffffff; /* Light text color */
}

/* Styles for your main app */
.app {
    transition: background-color 0.3s, color 0.3s; /* Smooth transitions */
}

header {
  background: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 1rem;
}

section {
  padding: 2rem;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  position: relative;
  bottom: 0;
  width: 100%;
}
